/* CUSTOM STORY STYLE */

.svg-container
  position relative

.jobTooltip
  position absolute
  background #FFF

// .job-bar-name
//   display block
//
.job-bar
  height 20px
  background #e0e0e0
  border-style solid
  border-color black

  overflow visible
  display inline-block
//
.job-bar-value
  display inline-block
  margin-bottom 1px
//
.bar-container
  display block

.job-selected-name
  font-size 24px

.jobTooltip
  pointer-events none
  border 1px solid black;

.transition-button
  display inline-block
  margin-left 1em
