/* CUSTOM STORY STYLE */

.svg-container
  margin 0 auto
  position relative
  width 100%

svg.scatter
  margin auto
  display block
  overflow hidden

.automatability-label
  text-transform uppercase
  font-weight 600
  text-anchor end
  font-family 'Atlas Grotesk Web'
  // transform-origin top left
  transform rotate(-90deg)

.trucker-developer-groups
  font-family 'Atlas Grotesk Web'

.heavy-prose
  font-weight 600

.heavy-prose-blue-text
  font-weight 600
  color #2F80ED

.heavy-prose-red-text
  font-weight 600
  color #EB5757

.two-job-automatability-value
  font-family 'Atlas Grotesk Web'
  // text-anchor right
  font-weight 600

.intro-y-axis
  font-family 'Atlas Grotesk Web'
  .tick
    text
      fill #8e8d87
    line
      stroke #8e8d87
  path
    stroke-width 0.5
    stroke #8e8d87

.y-axis-label
  font-family 'Atlas Grotesk Web'
  font-weight 600
  .min
    text
      fill #2F80ED
  .max
    text
      fill #EB5757

.jobTooltip
  position absolute
  background #FFF

.job-bar
  height 20px
  background #e0e0e0
  border-style solid
  border-color black

  overflow visible
  display inline-block

.job-bar-value
  display inline-block
  margin-bottom 1px

.bar-container
  display block

.job-selected-name
  font-size 24px

.jobTooltip
  pointer-events none
  border 1px solid black;

.transition-button
  display inline-block
  margin-left 1em

.scene
  margin-top 100vh

.all-automation
  margin-top 0vh

.two-jobs-automation
  margin-top 20vh


.job-name
  font-size 12px
